@use "variables" as variables;
@use "resets" as resets;

body {
  background-color: variables.$main-background-clr;
  @include resets.resets;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.658); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.767); 
}

.navbar {
  background-color: variables.$main-background-clr;
  position: relative;
  background:linear-gradient(#D2A0E6);
  backdrop-filter: blur(15px);
  margin-top: 15px;
  .nav-logo {
    width: 96px;
    height: 26px;
  }
}


.nav {
   display: none;
}

.sticky-navbar {
  width: 70%;
  height:55px;
  padding: 10px;
  position: sticky;
  top: 1%;
  background: #FFFFFF;
  opacity: 0;
  margin: 0 auto;
  z-index: 4;
  backdrop-filter: blur(20px);
  border-radius: 30px;
}

.border-nav {
  .border-item {
    position: relative;
    font-weight: 540;
    &::after {
      content: '';
      width: 100%;
      height: 0px;
      background-color: black;
      position: absolute;
      top: 50%;
    }
    &:hover::after {
      transition: all .2s linear;
      height: 3.5px;
      top: 100%;
    }
  }
}

.header__row {
.text-beauty {
  width: 45%;
  h2 {
    font-size: 62px;
  }
  .beauty-red {
    font-size: 85px;
    font-weight: bold;
    color: variables.$text-clr;
    text-shadow: 4px 3px 4px #e7ccf2;
  }
  .component-wrapper {
    .components {
      @include resets.Flex;
      .num {
        @include resets.mixHeader;
        padding: 0 14px;
        width: 90px;
        h1 {
          font-weight: 700;
          color: variables.$text-clr;
          font-size: 54px;
          position: relative;
          left: -134%;
        }
      }
      .component {
        width: 70%;
        @include resets.Center;
        @include resets.mixHeader;
        h3 {
          font-weight: 700;
          font-size: 30px;
        }
      }
    }
    .capsules {
      @include resets.Flex;
      margin-top: 20px;
      .num {
        @include resets.mixHeader;
        padding: 0 44px;
        width: 15%;
        @include resets.Center;
        h1 {
          font-weight: 700;
          color: variables.$text-clr;
          font-size: 54px;
          position: absolute;
          left: -9%;
        }
      }
      .capsule {
        width: 77%;
        @include resets.Center;
        gap: 10px;
        @include resets.mixHeader;
        h3 {
          font-weight: 550;
          font-size: 30px;
        }
        .capsule-wrapper {
          width: 58px;
          height: 58px;
          background-color: #fff;
          border-radius: 50%;
          position: relative;
          .capsule-1 {
            border-radius: 70%;
            position: absolute;
            top: -27%;
            left: -39%;
            width: 100px;
            height: 100px;
          }
          .capsule-2 {
            position: absolute;
            top: -45%;
            left: -56%;
            width: 110px;
            height: 110px;
            border-radius: 50%;
          }
        }
        .cur-capsule {
          width: 70px;
          height: 36px;
        }
      }
    }
    .formulas {
      @include resets.Flex;
      margin-top: 20px;
      .lightning-img {
        @include resets.mixHeader;
        padding: 0 44px;
        width: 15%;
        @include resets.Center;
        color: variables.$text-clr;
        .lightning {
          width: 33px;
          height: 51px;
        }
      }
      .formula-text {
        width: 70%;
        @include resets.Flex;
        align-items: center;
        @include resets.mixHeader;
        h3 {
          font-weight: 550;
          font-size: 30px;
          margin-left: 20px;
        }
      }
    }
  }
  .scroll__down {
    width: 485px;
    height: 56px;
  }
}
  .animation-images {
    width: 55%;
    position: relative;
    height: 100vh;
    .back1{
      width: 100%;
      position: absolute;
      height: 40%;
      bottom:30px;
      background: linear-gradient(360deg, #D2A0E6 42.62%, rgba(210, 160, 230, 0) 100%);
      z-index: -1;
    }
    .back{
      width: 100%;
      position: absolute;
      height: 20%;
      top: -10px;
      background: linear-gradient(180deg, #D2A0E6 42.62%, rgba(210, 160, 230, 0) 100%);
      z-index: 1;
    }

    .rotating-img {
        width: 800px;
        position: absolute;
        top: -99px;
        left: -8%;
        z-index: -2;
        border-radius: 50%;
        height: 800px;
        animation: bigImage 60s infinite linear;
      }
      .medium-circle {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 5%;
        left: 14%;
        border-radius: 50%;
        border: 5px dotted #fff;
        animation: mediumCircle 50s infinite linear;
      }
      .small-circle {
        width: 400px;
        height: 400px;
        position: absolute;
        top: 10%;
        left: 20.9%;
        border-radius: 50%;
        border: 5px dotted #fff;
        box-shadow: 0px 3px 32px 53px rgba(247, 237, 181, 0.921),
        inset 0px 3px 32px 53px rgba(247, 237, 181, 0.929);
        animation: smallCircle 50s infinite linear;
      }
      .omeVit {
        position: absolute;
        top: 10%;
        left: 15.4%;
        width: 480px;
        animation: omeVit 2s infinite linear alternate;
      }
  }
  @keyframes bigImage {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes mediumCircle {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes smallCircle {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes omeVit {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(15px);
    }
  }
    .buyBtn {
      padding: 25px;
      background-color: variables.$btn-clr;
      width: 24%;
      border-radius: 40px;
      margin: 40px auto;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 90%;
      left: 39%;
      &:focus {
        outline: none;
      }
    }
    .down-icon {
      width: 320px;
      height: 150px;
      position: absolute;
      top: 102%;
      left: 41%;
      animation: omeVit .8s infinite linear alternate;
    }
  
}
h1 {
  @include resets.Flex;
  align-items: center;
  color: #000046;
  font-size: 40px;
  font-weight: 650;
  word-spacing: 3px;
  margin-left:80px;
  gap: 10px;
  .bg {
    width:40px;
    height:40px;
    border-radius: 50%;
    @include resets.Center;
    background-color: variables.$btn-clr;
  }
}
.modal-cards {
  margin-top: 20px;
  @include resets.Flex;
  justify-content: space-evenly;
  .first_modal_card {
    background: linear-gradient(132deg, #FFC700 0%, #FFF625 100%);
    border-radius: 30px;
    padding: 15px;
    margin-top: 55px;
    .content {
      @include resets.Center;
      gap: 20px;
      h4 {
        font-weight: 600;
        font-size:16px;
      }
      .mg {
        background-color: white;
       @include resets.Center;
       padding: 8px;
       border-radius: 5px;
       h5 {
         font-size: 19px;
         font-weight: 600;
       }

      }
      .kapsul {
        background-color: white;
       @include resets.Center;
       padding: 8px;
       border-radius: 5px;
       h5 {
         font-size: 19px;
         font-weight: 600;
       }

      }
    }
    .omega {
      margin-top: 15px;
      height: 100px;
      position: relative;
      h1 {
        font-size: 60px;
        position: absolute;
        color: black;
        left: -18%;
      }
      img {
        width: 94px;
        height: 106px;
        position: absolute;
        left: 70%;
      }
    }
    ul {
      margin-top: -28px;
      li {
        list-style: none;
        @include resets.Flex;
        align-items: center;
        gap: 15px;
        margin: 15px 0;
        img {
          width: 28px;
          height: 28px;
          margin-left: 13px;
        }
        h3 {
          font-size: 22px;
          width: 60%;
          font-weight: 550;
          letter-spacing: 1px;
        }
      }
    }
    .first_modal_btn {
      width: 95%;
      padding: 15px;
      margin-left: 15px;
      border-radius: 70px;
      font-size: 19px;
      font-weight: 550;
      letter-spacing: 1px;
      &:hover {
         background-color: rgb(25, 104, 240);
         color: #fff;
      }
    }
  }
    .first_modal_content {
       background-color: variables.$btn-clr;
       border-radius: 40px;
       .modal-header {
        flex-wrap: wrap;
        .modal-title {
          font-size: 40px;
        }
        .drug-modal {
        @include resets.Flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 15px;
        background-color: #fff;
        border-radius: 10px;
        h2 {
          color: #000;
          font-size: 32px;
          font-weight: 550;
        }  
        img {
            width: 197px;
            height: 86px;
        }
        h3 {
          font-size: 29px;
          font-weight: 500
        }
        }
       }
       .modal-body {
        .three_cards {
          position: relative;
          @include resets.Flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .card {
            padding: 10px;
            border-radius: 20px;
            .card-title {
              font-size: 26px;
              font-weight: 550;
              letter-spacing:0.8px;
              color: #000
            }
            p {
              font-size: 17px;
              letter-spacing: .5px;
              margin-bottom: 50px;
              ul {
                li {
                  width:60%;
                  font-size: 17px;
                  margin-right: 15px;
                }
              }
            }
            .btn-bottom {
                position: absolute;
                bottom: 20px;
                .btn {
                  background-color: #E3E3E3;
                  border-radius: 50px;
                  font-weight: 550;
                  padding: 0 16px;
                  font-size: 20px;
                }
            }
          }
        }
        .cards {
          @include resets.Flex;
          .card {
            border-radius: 25px;
            padding: 15px;
            width: 94%;
            margin: 20px auto;
            position: relative;
            .card-title {
              font-size: 27px;
              font-weight: 550;
            }
          }
          img {
            width:301px;
            height:173px;
            position: absolute;
            border-radius: 35%;
            top: 65%;
            right: 80px;
          }
        }
       }
       
     }
  .second_modal_card {
    @extend .first_modal_card;
    padding-bottom: 35px;
    background: linear-gradient(235deg, #03C700 0%, #92FF5C 100%);
    h1 {
      font-size: 50px;
      width: 100%;
      margin: 0 12px;
      color: black;
    }
    ul {
      margin-top: -12px;
      li {
        margin: 10px 0;
      }
      h4 {
        font-size: 22px;
        width: 100%;
        font-weight: 550;
        letter-spacing: 1px;
      }
    }
      .second_modal_btn {
        width: 95%;
        padding: 15px;
        margin-left: 15px;
        margin-top: 14px;
        border-radius: 70px;
        font-size: 19px;
        font-weight: 550;
        letter-spacing: 1px;
        &:hover {
          background-color: red;
          color: #fff;
       }
      }
  }
  .second_modal_content {
    background-color: #FF917D;
    border-radius: 40px;
    .modal-header {
     .modal-title {
       font-size: 40px;
     }
     .drug-modal {
     @include resets.Flex;
     align-items: center;
     padding: 0 15px;
     background-color: #fff;
     border-radius: 10px;
     h2 {
       color: #000;
       font-size: 32px;
       font-weight: 550;
     }  
     img {
         width: 85px;
         height: 85px;
     }
     h3 {
       font-size: 29px;
       font-weight: 500
     }
     }
    }
    .modal-body {
     .three_cards {
       position: relative;
       @include resets.Flex;
       flex-wrap: wrap;
       gap: 20px;
       justify-content: space-evenly;
       .card {
         width: 23%;
         border-radius: 20px;
         padding: 48px 0;
         .card-title {
           font-size: 26px;
           font-weight: 550;
           letter-spacing:0.8px;
           color: #000
         }
         p {
           font-size: 17px;
           letter-spacing: .5px;
           margin-bottom: 50px;
         }
         .navedite {
          position: absolute;
          bottom: 14%;
          width: 147px;
          height: 21px;
         }
         .btn-bottom {
             position: absolute;
             top: 87%;
             left: -2%;
             bottom: 10px;
             width: 100%;
             @include resets.Flex;
             align-items: center;
             justify-content: space-evenly;
             .btn {
               background-color: #E3E3E3;
               border-radius: 50px;
               font-weight: 550;
               font-size: 20px;
               width: 90px;
               height: 40px;
               margin-left: 20px;
             }
             .animated-border {
              border-radius: 50%;
              width: 100px;
              height: 100px;
              margin-left: 60px;
              margin-bottom: 28px;
              animation: borderAnimate infinite 50s linear;
             @include resets.Center;
              border: 3px dotted #FF917D;
               .bg-wrapper {
                border-radius: 50%;
                background-color:#FF917D;
                img {
                  width: 78px;
                  height: 78px;
                } 
               }
             }
         }
       }
     }
     .cards {
       @include resets.Flex;
       .card {
         border-radius: 25px;
         padding: 15px;
         width: 94%;
         margin: 20px auto;
         position: relative;
         .card-title {
           font-size: 27px;
           font-weight: 550;
         }
       }
       img {
         width:301px;
         height:173px;
         position: absolute;
         border-radius: 35%;
         top: 65%;
         right: 80px;
       }
     }
    }
    
  }
  .middle-images {
    position: relative;
    .twoSides {
      width: 240px;
      height: 64px;
      position: absolute;
      left: -3%;
      top: 19%;
    }
    .bigDrug {
      position: absolute;
      z-index: 2;
      width: 785px;
      height: 654px;
      left: -124%;
    }
  }
  }

  .aboutOmevit {
    margin: 120px auto;
    @include resets.Flex;
    flex-wrap: wrap;
    .aboutImg {
      width: 30%;
      @include resets.Flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.75);
      border-radius: 30px;
        img {
          width: 290px;
          height: 282px;
        }
      .redDrug {
        margin-left: 40px;
      }
    }
    .aboutText {
      width: 70%;
      background-color: #fff;
      padding: 35px 0;
      border-radius: 30px;
      h1 {
        font-size: 100px;
        margin-top: 20px;
        margin-left: 18px;
      }
      ul {
        @include resets.Flex;
        flex-direction: column;
        padding: 18px;
        li {
          list-style: none;
          margin: 15px 0;
          @include resets.Flex;
          gap: 10px;
          align-items: start;
          img {
            width: 28px;
            height: 28px;
          }
          span {
            font-size: 25px;
            font-weight: 550;
          }
        }
      }
    }
  }

  .sixCards {
    margin: 0 auto;
    h1 {
      position: absolute;
      left: 6%;
      color: #fff;
      span {
        color: #000046;
      }
    }
    .another-wrapper {
      margin-top: 80px;
      @include resets.Flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      .green-wrapper {
        @include resets.Flex;
        .green-image {
          width: 100px;
          height: 221px;
          background-color: #fff;
          border-radius: 40px;
          position: relative;
          .green {
            width: 63px;
            position: absolute;
            top: 12%;
            left:18%;
            height: 63px;
          }
          h5 {
            position: absolute;
            left:38%;
            color: #fff;
            top: 18%;
            font-size: 30px;
          }
        }
        .green-text {
          width: 457px;
          height: 221px;
          background-color: #fff;
          border-radius: 40px;
          position: relative;
          h1 {
            width: 100%;
            position: absolute;
            top: 8%;
            left: -11%;
            font-size: 33px;
            color: #000;
          }
          p {
            width: 93%;
            position: absolute;
            top: 30%;
            left: 6%;
            font-size: 26px;
          }
        }
      }
    }
  }
.slide {
  border-radius: 40px;
  width: 92%;
  margin: 40px auto;
  background-color: #fff;
  .img-slide {
    @include resets.Flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 40px;
    width: 100%;
    padding: 50px;
    .slide-img {
      .hover-image {
        border-radius: 20px;
        object-fit: contain;
        width: 420px;
        // display: none;
      }
    }
    .slide-text {
      h1 {
        font-weight: 550;
        color: #000;
        font-size: 40px;
        margin-left: -2px !important;
        border-bottom: 2px solid lightgrey;
      }
      ul {
        li {
          list-style: none;
          margin: 30px 0;
          line-height: 1.8  ;
          cursor: pointer;
          font-size: 28px;
          font-weight: 490;
          border-bottom: 2px solid lightgrey;
          p {
            transition: .4s;
          }
          p:hover {
            transform: translateX(30px);
          }
        }
      }
    }
  }
}
.result {
  @include resets.Flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  .result-text {
    width: 30%;
    .fixed {
      position: sticky;
      top: 10%;
      h1 {
        color: #fff;
        position: relative;
        left: -15%;
        span { 
           position: absolute;
           left: 59%;
           color: #000046;
        }
      }
    }
  }
  .result-cards {
    width: 60%;
    @include resets.Flex;
    flex-direction: column;
    gap: 20px;
    .card {
      position: relative;
      padding: 100px;
      border-radius: 20px;
      h1 {
        position: absolute;
        top: 14%;
        left: -1%;
        color: #FD350A;
      }
      p {
        font-size: 24px;
        width: 60%;
        top:45%;
        left: 11%;
        position: absolute;
      }
      .leg {
        width: 57px;
        height: 58px;
        position: absolute;
        top: 4%;
        right: 2%;
        z-index: 2;
      }
      .atom {
        width: 63px;
        height: 63px;
        position: absolute;
        top: 4%;
        right: 2%;
      }
    }
  }
}
.why-row {
  position: relative;
  .why-header {
    position: absolute;
    top: -5%;
    left: -4%;
  }
  .why {
    margin: 0 auto;
    margin-top: 45px;
    height: 335px;
    border-radius: 30px;
    @include resets.Flex;
    flex-wrap: wrap;
    background: url(../assets/images/bg.jpg) no-repeat center;
    .why-img {
      width: 50%;
      background: url(../assets/images/bilberry.png) no-repeat center/cover;
      height: 100%;
    }
    .why-text {
      width: 50%;
      @include resets.Flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 40px;
        font-weight: 550;
      }
      p {
        font-size: 24px;
        margin: 15px 0;
      }
    }
  }
}
.fish {
  margin: 0 auto;
  height: 335px;
  border-radius: 30px;
  @include resets.Flex;
  background: url(../assets/images/bg2.jpg) no-repeat center;
  .fish-img {
    width: 45%;
    background: url(../assets/images/Peruanskiy_Anchous1_.png-removebg-preview.png) no-repeat center/cover;
    height: 100%;
    border-radius: 30px;
  }
  .fish-text {
    width: 55%;
    @include resets.Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 40px;
      font-weight: 550;
    }
    p {
      font-size: 24px;
      margin: 15px 0;
      margin-left: 37px !important;
    }
  }
}
.download {
  .safe {
    margin: 0 auto;
    height: 335px;
    border-radius: 30px;
    @include resets.Flex;
    background: url(../assets/images/bg3.jpg) no-repeat center;
    .safe-img {
      width: 45%;
      background: url(../assets/images/omevit.jpg) no-repeat center/cover;
      height: 100%;
      border-radius: 30px;
    }
    .safe-text {
      width: 55%;
      position: relative;
      @include resets.Flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      h2 {
        font-size: 40px;
        font-weight: 550;
        position: absolute;
        top: 10%;
        left: 8%;
      }
      p {
        font-size: 22px;
        margin: 15px 0;
        margin-left: 37px !important;
        position: absolute;
        top: 25%;
        left: 3%;
      }
    }
  }
  .download-icon {
    width: 85px;
    height: 80px;
    position: absolute;
    right: 11.2%;
    margin-top:50px;
    z-index: 2;
  }
  .download-bg {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    right: 9.2%;
    margin-top: 27px;
  }
  .circle-text {
    width: 190px;
    height: 170px;
    position: absolute;
    right: 8%;
    margin-top: 9px;
    animation: bigImage 60s infinite linear;
  }
}
.buy {
  .buyWhere {
    h4 {
      font-size: 40px;
      margin-left: 23px;
      font-weight: 600;
      span {
        color: #000046;
      }
    }
    .placesToBuy {
      margin-top: 20px;
      @include resets.Flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      .place {
        width: 30%;
        @include resets.Flex;
        justify-content: center;
        border-radius: 30px;
        img {
          border-radius: 30px;
          width: 100%;
          height: 100%;
        }
      }
      .place:nth-child(7) {
        justify-content: center !important;
      }
    }
  }
}
.testimonials {
  .otziv {
    h5 {
      font-size: 35px;
      font-weight: 550;
      color: #000;
      margin-left: 35px
    }
    .testimonial-wrapper {
      @include resets.Flex;
      flex-wrap: wrap;
      margin-top: 60px;
      .testimonial {
        margin: 25px auto;
        background-color: #fff;
        padding: 15px;
        width: 90%;
        border-radius: 15px;
        position: relative;
        p {
          font-size: 23px;
          padding: 15px;
        }
        img {
          width: 44px;
          height: 44px;
          position: absolute;
          left: 6.5%;
          bottom: -7%;
          border-bottom-right-radius: 100%;
          transform: rotate(2deg);
        }
      }
      .user {
        @include resets.Flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 30px;
        gap: 12px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 60px;
        }
        p {
          font-weight: 550;
        }
      }
    }
  }
}
.opacity {
  width: 918px;
  height: 612px;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: -2px -2px 46px 0px #F2E3F8;
  background-image: 
  url(../assets/images/background-opacity.jpg),
  url(../assets/icons/grape.png),
  url(../assets/icons/lemon.png),
  url(../assets/icons/fruit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  @include resets.Center;
  flex-direction: column;
  h4 {
    font-size: 67px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    text-align: center;
  }
  p {
    font-size: 25px;
    color: #fff;
    width: 60%;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    margin: 40px 0;
  }
  button {
    background: #FCF800;
    border-radius: 30px;
    width: 249px;
    height: 69px;
    font-size: 25px;
    font-weight: 500;
    &:hover {
      background-color: #27c625;
    }
  }
}
.questions {
  margin: 0 auto;
  @include resets.Center;
  flex-direction: column;
  color: #fff;
  h4 {
    font-size: 52px;
    font-weight: 700;
    margin: 14px 0;
  }
  p {
    font-size: 25px;
    font-weight: 600;
    margin: 14px 0;
  }
  span {
    font-weight: 600; 
    margin: 14px 0;
    font-size: 25px;
  }
  button {
    width: 692px;
    height: 94px;
    background-color: #ED552C;
    font-size: 37px;
    color: #fff;
    border-radius: 40px;
    margin: 14px 0;
  }
  .btn2 {
    background-color: #FFEA7F;
    color: #000;
  }
  .dzen {
    width: 487px;
    height: 125px;
    box-shadow: 0px 1px 10px 7px rgba(163, 163, 163, 0.1);
    border-radius: 40px;
    margin: 14px 0;
  }
  .group {
    width: 110%;
    margin: 14px 0;
    p {
      font-weight: 600;
      font-size: 25px;
      width: 100%;
    }
    a {
      font-weight: 600;
      width: 100%;
      font-size: 25px;
      text-decoration: none;
      color: #ffff;
    }
  }
}
.asia {
  margin: 0 auto;
  @include resets.Flex;
  flex-wrap: wrap;
  .asia-text {
    width: 75%;
    background-color: #fff;
    padding: 27px;
    border-radius:30px;
    @include resets.Flex;
    gap: 20px;
    .asia {
      width: 80px;
      height: 80px;
    }
    p {
      font-weight: 600;
    }
  }
  .side-asia {
    width: 25%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    p {
      font-weight: 600;
    }
  }
}
.footer {
  margin: 0 auto;
  @include resets.Center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  position: relative;
  .img1 {
    position: absolute;
    left: -8%;
    width: 500px;
    height: 279px;
  }
  .img2 {
    position: absolute;
    right: -8%;
    width: 500px;
    height: 279px;
  }
  p {
    width: 50%;
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 21px;
  }
  h3 {
    font-size: 70px;
    margin-top: 20px;
    color: #fff;
  }
}
@keyframes borderAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}









@media  screen and (max-width:600px) {
  .navbar {
    margin: 0;
    display: none;
  }
  .nav {
    display: flex;
    @include resets.Flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    background: rgba(255, 255, 255, 0.62);
    backdrop-filter: blur(5.5px);
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow-x: hidden;
    top: 0;
    .nav-icon {
      @include resets.Flex;
      flex-direction: column;
      gap: 10px;
      .one {
        width: 34px;
        height: 4.5px;
        background-color: #FF1414;
        border-radius: 10px;
        transition: .4s;
      }
      .two {
        width: 45px;
        height: 4.5px;
        background-color: #FF1414;
        border-radius: 10px;
      }
      .three {
        width: 34px;
        height: 4.5px;
        background-color: #FF1414;
        border-radius: 10px;
        transition: .4s;
      }
      .one:hover {
         width: 55px;
      }
      .three:hover {
         width: 55px;
      }
    }
    .nav-text {
      h3 {
        font-size: 40px;
        color: #353B78;
        font-weight: 700;
      }
    }
    .nav-button {
      button {
        padding: 10px 20px;
        font-weight: 550;
        letter-spacing: 1px;
        background-color: #FFEA00;
        border: none;
        border-radius: 11px;
        transition: .4s;
        &:hover {
          background-color: #0cdbb2;
          color: #fff;
        }
      }
    }
  }
 
  .header__row {
  margin-top: 100px;
    .text-beauty {
      width: 100%;
      .beauty-red {
        font-size: 50px;
      }
      h2 {
        font-size: 20px;
      }
      .components {
        .component{
            h3 {
              font-size: 20px !important;
            }
        }
      }
      .capsules {
        .capsule {
          h3 {
            font-size: 20px !important;
            width: 90% !important;
            margin-left: 15px !important;
          }
          .capsule-wrapper {
            width: 55px !important;
            height: 35px !important;
          }
          .capsule-1 {
            width: 60px !important;
            height: 60px !important;
            left: -55% !important;
          }
          .capsule-2 {
            width: 70px !important;
            height: 70px !important;
            left: -85% !important;
          }
          .cur-capsule {
            width: 40px !important;
            height: 36px !important;
            margin-right: 10px;
          }
        }
      }
      .formulas {
        .formula-text {
          h3 {
            font-size: 20px !important;
          }
        }
      }
      .scroll__down {
        width: 385px;
        height: 26px;
      }
    }
    .animation-images {
      width: 100%;
      .back {
        width: 100%;
        left: 0px;
        margin-top: 15px;
        }
        .back1 {
          width: 100%;
          left: 0px;
          top: 40%;
          height: 20%;
        }
      .rotating-img {
        width: 450px;
        height:450px;
        top: 0px;
        left: -7%;
      }
      .medium-circle {
        top: 12%;
        left: 16%;
        width: 270px;
        height: 270px;
      }
      .small-circle {
        top: 16%;
        left: 25%;
        width: 200px;
        height: 200px;
      }
      .omeVit {
        top: 17%;
        left: 24%;
        width: 200px;
      }
    }
    .buyBtn {
      width: 200px;
      padding: 10px;
      left: 23%;
      top: 125%;
    }
    .down-icon {
      width: 150px;
      height: 80px;
      left: 30%;
      top: 135%;
    }
  }
  .modal-row {
    .header {
      position: relative;
      left: 12%;
      margin: 0;
      padding:45px 0;
      span {
        position: absolute;
        top: 0;
      }
    }
    .modal-cards {
      @include resets.Flex;
      flex-wrap: wrap;
      .first_modal_card {
        padding: 10px;
        width: 100%;
        .content {
          margin: 10px 1px;
        }
        .omega {
          img {
            width: 70px;
            height: 70px;
            margin-left: 30px;
          }
        }
        .first_modal_btn {
          margin-bottom: 20px;
          margin-left: 10px;
        }
      }
      #exampleModal {
        border: 3px solid blue;
        .modal-dialog {
          max-width: 100% !important;
          .modal-header {
            width: 100%;
            border-radius: 40px;
            .modal-title {
              font-size: 20px;
            }
            .drug-modal {
              justify-content: center;
              img {
                margin-right: 10px;
              }
            }
          }
        }
        .modal-body {
          .three_cards {
            gap: 20px;
          }
          .cards {
            img {
              left: 30px;
              top: 90%;
              display: none;
            }
            .card {
              .card-title {
                font-size: 22px;
              }
              .card-text {
                ul {
                  li {
                    width: 100% !important;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
      #exampleModal2 {
        .modal-dialog {
          max-width: 100% !important;
          .second_modal_content {
            .modal-header {
              width: 100%;
              flex-direction: column;
              .modal-title {
                font-size: 30px;
                margin: 0;
              }
              .drug-modal2 {
                flex-direction: column;
                text-align: center;
                padding: 10px 20px;
                h2 {
                  font-size: 22px;
                }
                img {
                  width: 120px;
                  height: 120px;
                }
              }
            }
            .modal-body {
              .three_cards {
                flex-wrap: wrap;
                .card {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .blueberry {
    display: none;
  }
  .side-img {
    display: none;
  }
  .aboutOmevit {
    width: 100%;
    .aboutImg {
      width: 100%;
      border-radius: 10px;
    }
    .aboutText {
      width: 100%;
      margin-top: 20px;
      border-radius: 10px;
      h1 {
        font-size: 35px;
      }
      ul {
        li {
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
  .sixCards {
    h1 {
      margin: 0;
      left: 3%;
      font-size:35px;
      span {
        font-size: 19px;
        display: none;
      }
    }
    .another-wrapper {
      .green-wrapper {
        width: 100%;
        margin-top: 20px;
        .green-image {
          .green {
            left: 0;
          }
        }
        .green-text {
          h1 {
            font-size: 25px;
            left: 4%;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
  .slide {
    width: 100%;
    .img-slide {
      width: 100%;
      .slide-img {
        position: relative;
        width: 100%;
        .hover-image {
         width: 100%;
         height: 100%;
        }
      }
      .slide-text {
        margin-top: 20px;
        width: 100%;
        h1 {
          font-size: 25px;
        }
        ul {
          li {
            font-size: 20px;
            margin: 14px 0;
            line-height: 1;
          }
        }
      }
    }
  }
  .result {
    .result-text {
      width: 100%;
    }
    .result-cards {
      margin-top: 15px;
      width: 100%;
      .card {
        h1 {
          top: 5%;
          left: -18%;
          font-size: 27px;
        }
        p {
          font-size: 21px;
          top: 30%;
          left: 4%;
        }
      }
    }
  }
    .why-row {
      height: 500px;
      margin: 0;
      width: 100% !important;
      .why-header {
        position: absolute !important;
        top: 0% !important;
        left: -20% !important;
        width: 100% !important;
        font-size: 19px !important;
      }
      .why {
        position: relative !important;
        width: 100% !important;
        height: 100% !important;
        padding: 20px;
        .why-img {
            width: 100% !important;
            height: 40%;
            position: absolute;
            bottom: 8%;
            left: 0;
          }
          .why-text {
            width: 100% !important;
            height: 50%;
            position: absolute;
            left: 2%;
          }
      }
    }
    .fish {
      flex-wrap: wrap;
      margin-top: 20px;
      height: 500px;
      position: relative;
      width: 90%;
      .fish-text {
        width: 100%;
        position: absolute;
        top: 0;
      }
      .fish-img {
        position: absolute;
        bottom: 5%;
        width: 100%;
        height: 40%;
        left: -6%;
      }
    }
    .download {
      .safe {
        flex-wrap: wrap;
        position: relative;
        height: 500px;
        padding: 10px;
        overflow-x: hidden;
        .safe-img {
          width: 100% !important;
          height: 40%;
          position: absolute;
          top: 0;
        }
        .safe-text {
          width: 100%;
          position: absolute;
          height: 50%;
          bottom: 10%;
          p {
            font-size: 16px;
            left: 0;
          }
        }
      }
      .download-icon {
        display: none;
      }
      .download-bg {
        display: none;
      }
      .circle-text {
        display: none;
      }
    }
  .buyWhere {
    margin: 0;
    .placesToBuy {
      flex-direction: column;
      align-items: center;
      .place {
       img {
        width: 100%;
        transform: scale(3);
        margin: 40px 0;
       }
      }
    }
  }
  .testimonial-wrapper {
    .testimonial {
      width: 100% !important;
      p {
        font-size: 16px !important;
        padding: 5px !important;
      }
    }
  }
  .opacity {
    width: 800px;
    height: 500px;
    h4 {
      font-size: 30px;
      width: 100%;
    }
    p {
      font-size: 19px;
      width: 100%;
    }
  }
  .questions {
   h4 {
      font-size: 30px;
   }
   p {
    font-size: 20px;
   }
   button {
    width: 380px;
    font-size: 25px;
   }
   .dzen {
    width: 380px;
   }
   .group {
    @include resets.Flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-left:100px;
    }
    a {
      margin-left:100px;
    }
   }
  }
  .asia {
    .asia-text {
      width: 100%;
      flex-direction: column;
    }
    .side-asia {
      width: 100%;
      margin-top: 20px;
    }
  }
  .footer {
    .img1 {
      display: none;      
    }
    .img2 {
      display: none;
    }
    p {
      font-size: 17px;
      width: 100%;
    }
  }
}
